<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>StudyBud</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/main.css' %}">
<!--    <script src="main.js"></script>-->
</head>
<body>
    {% include 'navbar.html' %} <!-- html inheritance, includes navigation bar -->

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li> {{ message }} </li>
        {% endfor %}
    </ul>
    {% endif %}

    {% block content %}


    {% endblock %}

</body>
</html>